
#container {
    display: flex;
    gap: 64px;
}

.board {
    border: solid blue 2px;
    width: 500px;
    height: 500px;

    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 2px;
    padding: 4px;
}

.cell {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    background-color: rgb(197, 252, 252);
}

.hit {
    background-color: orange;
}

.sunk {
    background-color: red;
}