
#playerBoard {
    border: solid blue 2px;
    width: 500px;
    height: 500px;
    
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 2px;
    padding: 4px;
}

.cell {
    background-color: aqua;
    padding: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}